<% layout('layout/main') %> <% post.forEach(item => { %>
<section
  style="border: 1px dashed black; border-radius: 20px; padding: 0px 14px 14px"
>
  <h3><%= item.title %></h3>
  <p><%= item.description %></p>
  <small><%= item.name + " " + item.created_at.toDate() %></small>
</section>
<% }) %>
