<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/add/post">Add Post</a>
        </li>
      </ul>
    </nav>
    <main>
      <% post.forEach(item => { %>
      <section
        style="
          border: 1px dashed black;
          border-radius: 20px;
          padding: 0px 14px 14px;
        "
      >
        <h3><%= item.title %></h3>
        <p><%= item.description %></p>
        <small><%= item.name + " " + item.created_at.toDate() %></small>
      </section>
      <% }) %>
    </main>
  </body>
</html>
